.login-container{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-heading{
    margin-top: -50px;
    font-size: 20px;
    text-decoration: underline;
}

.form{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 60px;
}

.email-input{
    margin-left: -30px;
}

.form-item{
    margin-left: -110px;
}

.login-btn{
    margin-left: -75px;
}

.dnt-acc{
    margin-top: 10px;
}